---
---

@import "{{ site.theme }}";
// @import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;700&display=swap');

// @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');


// Variables
$primary-color: #0077b6;   // A calming blue, professional and not too bold
$secondary-color: #f8f9fa; // Very light gray for backgrounds
$accent-color: #5b913b;    // A strong red for calls to action

// Base styles
body, h1, h2, h3, p, li {
    font-family: 'Raleway', sans-serif; // Nunito Sans initially, Carot Sans to match logo
    color: #333; // Default text color
}

// Button styles
.button, button, input[type="submit"], input[type="button"] {
    background-color: white;
    border: 1px solid $accent-color;
    //color: white;
    padding: 5px 10px;
    border-radius: 3px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    &:hover {
        background-color: lighten($accent-color, 0%);
    }
}

.emoji-ticker {
  width: 100%;
  overflow: hidden;
  position: fixed;
  top: 0;
  height: 50px; /* Adjust the height as needed */
  line-height: 50px; /* Centers the emojis vertically */
  white-space: nowrap; /* Ensures the emojis stay in a single line */
  // box-shadow: 0px 2px 5px rgba(0,0,0,0.2); /* Optional: adds shadow for depth */
  z-index: 1000; /* Ensures the ticker stays on top */
}

.scrolling-ticker {
  display: inline-block;
  padding-left: 100%; /* Starts the animation offscreen */
  animation: scroll-left 30s linear infinite; /* Adjust timing as desired */
}

@keyframes scroll-left {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

