<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    {% include head-custom.html %}
</head>
<body>
    <div class="wrapper">
        <header>
            <div class="logo">
                <a href="{{ "/" | absolute_url }}">
                    {% if site.logo %}
                        <img src="{{ site.logo | relative_url }}" alt="Logo of LSESU Palestine Society">
                    {% else %}
                        {{ site.title | default: site.github.repository_name }}
                    {% endif %}
                </a>
            </div>
            <nav>
                <ul>
                    <li><a href="{{ "/" | absolute_url }}">Home</a></li>
                    <li><a href="/about">About Us</a></li>
                    <li><a href="/events">Events</a></li>
                    <li><a href="/contact">Contact</a></li>
                </ul>
            </nav>
        </header>
        {% if page.hero %}
        <section class="hero">
            <h2>{{ page.hero.title }}</h2>
            <p>{{ page.hero.text }}</p>
            {% if page.hero.button.text and page.hero.button.url %}
            <a href="{{ page.hero.button.url }}" class="button">{{ page.hero.button.text }}</a>
            {% endif %}
        </section>
        {% endif %}
        <main>
            {{ content }}
        </main>
        <footer>
            <p>Contact Us: <a href="mailto:contact@example.com">contact@example.com</a></p>
            <ul class="social-media">
                <li><a href="https://twitter.com">Twitter</a></li>
                <li><a href="https://facebook.com">Facebook</a></li>
                <li><a href="https://instagram.com">Instagram</a></li>
            </ul>
        </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
</body>
</html>
